{% extends "layout.html" %}
{% load i18n %}

{% block title %}
  Talks
{% endblock %}

{% block content %}

  <h1>{{ conference.name }}</h1>
  <a href="http://pycon.dev:8000/">{% trans "Back to all conferences" %}</a>

  <h4>{% trans "Create a talk" %}</h4>
  <form action="" method="post" class="form">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create talk" />
  </form>

  {% if talks.count %}
    <h4>{% trans "List of talks" %}</h4>
    <table class="table" style="margin-top: 10px">
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Author" %}</th>
      </tr>
      {% for talk in talks %}
        <tr>
          <td>{{ talk.name }}</td>
          <td>{{ talk.author }}</td>
        </tr>
      {% endfor %}

    </table>
  {% endif %}

{% endblock %}
