{% extends "layout.html" %}
{% load i18n %}

{% block title %}
  Conferences
{% endblock %}

{% block content %}
    <h1>{% trans "All conferences" %}</h1>

    <h4>{% trans "Create new" %}</h4>
    <form action="" method="post" class="form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>

    {% if conferences.count %}
      <h4>{% trans "List of conferences" %}</h4>
      <table class="table" style="margin-top: 10px">
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Talks" %}</th>
        </tr>
        {% for conference in conferences %}
          <tr>
            <td>{{ conference.name }}</td>
            <td><a href="http://{{ conference.domain_url }}:8000">{% trans "Talks" %}</a></td>
          </tr>
        {% endfor %}

      </table>
    {% endif %}

{% endblock %}
